<footer class="bg-very-dark-blue mt-auto w-full flex flex-col items-center text-light-blue">

    <div class="w-full h-4 bg-contain bg-transparent"
        style="background-image: url('../static/images/bottom-wave.png');"></div>

    <div class="p-8 w-2/3 text-xs justify-center items-stretch flex flex-col lg:flex-row justify-around">

        <p class="h-full justify-center items-center flex flex-row">
            <span>Designed with 💙 by&nbsp;</span>
            <a class="underline" href="https://constance-prevot.com/">Constance - Otaphoque</a>
        </p>

        <div class="flex flex-row lg:flex-col justify-center items-center mt-2 lg:m-0">
            <p class="flex justify-center items-center">Questions ? Suggestions ?&nbsp;</p>
            <a class="underline" href="mailto:knztnce@gmail.com">Contact 📧</a>
        </div>
    </div>

</footer>