{% extends 'nav.html' %}

{% block content %}

<link rel="stylesheet" href="../static/src/truc.css">

<div id="info" class="flex justify-center leading-relaxed">
    <div class="md:w-6/12 w-10/12 mx-20 shadow-md px-10 py-10 mt-10 my-8 rounded bg-my-white text-dark-blue">

        <div>
            <a id="back-arrow" class="hover:cursor-pointer" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/arrow.png') }}"
                    class="h-3 mr-3 sm:h-5 hover:opacity-70">
            </a>
        </div>

        <p class="text-center text-2xl font-medium break-words">{{ event.name }}</p>
        <p class="text-center"><span class="font-semibold">{{ translations.host }}</span> <a
                href="{{ event.organizerLink }}">{{ event.organizer }}</a></p>
        <br>
        <p><span class="font-bold">{{ translations.location }} </span>{{ event.location }}</p>
        <p><span class="font-bold">{{ translations.début }} </span>
            {% if language %}
            {{ event.displayDate_fr}}
            {% else %}
            {{ event.displayDate_en}}
            {% endif %}
        </p>
        <p><span class="font-bold">{{ translations.deadline }} </span>
            {% if language %}
            {{ event.registrationDeadline_fr }}
            {% else %}
            {{ event.registrationDeadline_en }}
            {% endif %}
        </p>
        <p><span class="font-bold">{{ translations.langue }} </span>{{ event.language }}</p>
        <p><span class="font-bold">{{ translations.type }} </span>{{ event.type }}</p>
        <p><span class="font-bold">{{ translations.lien }} </span><a class="underline" href="{{ event.links }}">{{
                event.name }}</a></p>

        <div id="event" class="break-words whitespace-pre-wrap ">
            {% if language %}
            {{ event.description_fr | safe }}
            {% else %}
            {{ event.description_en | safe }}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}